.product-page-header{
    /* background-color: rebeccapurple; */
    font-size: 3vw;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10vh;
}

.product-page {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    min-height: 100vh;
    /* height: 100vh; */
}

.product-left {
  flex: 1;
  height: 80vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center   ;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.product-right {
  min-height: 80vh;
  width: 50%;
  flex: 1;
  text-align: left;
  padding: 10px;
  padding-top: 0;
  
}

.product-name {
  /* font-weight: bold; */
  margin-bottom: 10px;
}

.product-category {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

.product-right .product-description {
  font-size: 1.2vw;
  color: var(--text);
  margin-bottom: 20px;
  max-height: 250px;
  font-size: 18px;
  overflow-y: auto;
  scrollbar-width: none;
  
}

.email-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.email-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
  }

  .product-right, .product-left{
    width: 100%;
  }

  .product-right .product-description {
    font-size: 16px;
  }
}
