@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.plus-grid {
  display: grid;
  height: 100px;
  width: 100px;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px 30px;
  position: absolute;
  gap: 5px;
}
.plus-icon {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.plus-icon-0 {
  animation-duration: 10s;
  animation-delay: 0s;
}
.plus-icon-1 {
  animation-duration: 7s;
  animation-delay: 0.5s;
}
.plus-icon-2 {
  animation-duration: 5s;
  animation-delay: 1s;
}
.plus-icon-3 {
  animation-duration: 6.5s;
  animation-delay: 1.5s;
}
.plus-icon-4 {
  animation-duration: 9.5s;
  animation-delay: 1s;
}
.plus-icon-5 {
  animation-duration: 8.5s;
  animation-delay: 6.5s;
}
.plus-icon-6 {
  animation-duration: 7.2s;
  animation-delay: 6.7s;
}
.plus-icon-7 {
  animation-duration: 10.2s;
  animation-delay: 3.5s;
}
.plus-icon-8 {
  animation-duration: 7.2s;
  animation-delay: 2s;
}
