.detailed-popup-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #00000080;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.detailed-popup-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 70vh;
    border: var(--border);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--bg);
    position: relative;
  }

  .detailed-popup-container h1, .detailed-popup-container hr:nth-child(2){
    display: none;
  }
  
  .product-section,
  .client-section {
    width: 50%;
    padding: 16px;
  }

  .product-section{
    overflow-y: auto;
    scrollbar-width: none;
  }
  
  .product-image {
    width: 100%;
    height: 50%;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
  }

  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-details{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .detailed-popup-container .product-details h3,
  .client-header h3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
  }

  .client-email,
  .client-phone {
    margin: 8px 0;
    font-size: 1.2rem;
    color: var(--text);
  }
  
  .client-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .client-date {
    font-size: 12px;
    color: #666;
  }
  
  .client-message {
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
    overflow: auto;
    scrollbar-width: none;
  }
  
  .detailed-popup-container .basic-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    
  }
  
  @media (max-width: 768px) {
    .detailed-popup-container {
      flex-direction: column;
      height: 80vh;
    }

    .detailed-popup-container h1, .detailed-popup-container hr:nth-child(2){
      text-align: center;
      display: block;
    }
    
    .product-section,
    .client-section {
      width: auto;
      height: 50%;  
    } 
  }