.herosection-container {
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: start;
}
.overlay {
  background-color: #0000001e;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 10%;
}
.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.herosection-content h1,
.herosection-content p {
  text-shadow: 0px 0px 4px var(--theme);
}

.herosection-content .primary {
  color: #fff;
}
.herosection-title {
  font-size: 8vw;
  width: 100%;
  font-weight: 500;
  line-height: 0.9;
}

/* About section */
.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--bg);
  color: var(--text);
  height: 100vh;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  height: 50vh;
  position: relative;
}
/* 
.about-content svg{
  position: absolute;
  right: 0;
  bottom: 0;
} */

.about-image {
  width: 40%;
  height: 100%;
  border: var(--border);
}

.about-image img {
  max-width: 100%;
  height: 100%;
}

.about-text {
  max-width: 50%;
  padding: 20px;
  height: 100%;
}

.about-text h1 {
  color: var(--theme); /* Orange color for the heading */
}

.about-text p {
  margin: 20px 0;
}

/* product section */

.productsection-container {
  text-align: center;
  font-size: 2rem;
}

.productsection-container h1 {
  text-decoration: underline;
  position: relative;
  color: var(--theme);
  width: fit-content;
  margin: auto;
}

.productsection {
  column-width: 200px;
  min-height: 100vh;
  width: 90%;
  margin: auto;
}

.productsection .product {
  width: 100%;
  overflow: hidden;
  border-radius: var(--radius);
  height: fit-content;
  margin-bottom: 10px;
}

.productsection img {
  transition: all 0.2s ease;
  border-radius: var(--radius);
  object-fit: cover;
  object-position: center;
}

.productsection img:hover {
  scale: 1.1;
}
/* how to buy */
.steps-container{
  /* background-color: rebeccapurple; */
  width: 90%;
  margin: 20vh auto;
}

.steps-container h1{
  text-align: start;
  padding-left: 100px;
  font-size: 10vw;
  line-height: 0.8;
  text-transform: uppercase;
  color: var(--theme);
}
.steps-container .steps-body{
  display: flex;
  justify-content: space-between;
  padding: 15vh 0;
}

.steps-body .step{
  min-width: 200px;
  width: 20vw;
  font-size: 2vw;
  border: var(--border);
  border-radius: var(--radius);
  padding: 20px 15px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.step:hover{
  background-color: var(--theme);
  cursor: pointer;
  .action-icon{
    color: var(--text);
  }
}

.step .action-icon{
  position: absolute;
  bottom: 0px;
  transition: all 0.3s ease-in-out;
  right: 10px;
  font-size: 3rem;
  color: var(--text-g);
  font-weight: 100;
}

/* contact section */
.main_container {
  /* background-color: #292929; */
  margin: 5vw;
  display: flex;
  height: 80vh;
  padding: 30px;
  border-radius: 20px;
}

.main_container_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding-right: 20px;
}

#h1First {
  color: var(--theme);
  font-size: 6vw;
  font-weight: 400;
}

.main_container h3 {
  color: var(--text);
  font-weight: 200;
}

.main_container_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.map-container{
  width: 100%;
}

.map-container iframe{
  height: 100%;
  width: 100%;
}
@media (width<800px) {
  #h1First {
    font-size: 50px;
  }

  #h1Second {
    font-size: 50px;
  }
}
@media (width<500px) {
  .main_container {
    display: block;
    height: fit-content;
  }
  .main_container_left {
    display: block;
    width: 100%;
    height: 50%;
  }
  #h1First {
    width: 100%;
    font-size: 40px;
  }
  #h1Second {
    width: 100%;
    font-size: 40px;
  }
  .main_container_right {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-content {
    min-height: 80vh;
    height: 90vh;
  }
  .about-image {
    width: 70%;
    /* height: 100%; */
  }
  .about-text {
    max-width: 100%;
    text-align: center;
  }

  .about-text button {
    margin-top: 20px;
  }
}
