@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: #0a0a0a;
  --theme: #fca017;
  --theme-trans: #df8d1152;
  --theme-light: #ffb443;
  --theme-dark: #d68102;
  --text: #e8e8e8;
  --text-secondary: #b6b6b6;
  --text-g: #3e3e3e;
  --text-dark: #1d1d1d;
  --border: 1px solid #3e3e3e;
  --border-t: 1px solid var(--theme-trans);
  --radius: 10px;
}

/* Reset and Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", serif;
}

*::selection{
  background-color: var(--theme);
  color: var(--bg);
}

body {
  font-size: 16px;
  scrollbar-width: none;
  color: var(--text);
  background-color: var(--bg);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--text);
}

h1{
  font-weight: normal;
}

/* Paragraphs */
p {
  /* margin-bottom: 10px; */
  color: var(--text);
}

/* Links */
a {
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: var(--text);
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--theme-light);
  border-bottom: 1px solid var(--theme);
}

/* Buttons */
button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
button:disabled{
  background-color: var(--text-g);
  color: var(--bg);
  cursor: not-allowed;
}
button:disabled:hover{
  background-color: var(--text-g);
  color: var(--bg);
  cursor: not-allowed;
}

.primary {
  background-color: var(--theme);
  color: var(--bg);
}

.primary:hover {
  background-color: var(--theme-dark);
  color: var(--text-dark);
}

.secondary, li.secondary {
  border: 1px solid var(--theme-trans);
  background-color: transparent;
  color: var(--theme);
}

.secondary:hover,  li.secondary:hover {
  background-color: var(--theme);
  color: var(--bg);
}

/* Forms */
input,
textarea,
select {
  width: 100%;
  padding: 10px 15px;
  border: var(--border);
  border-radius: var(--radius);
  font-size: 16px;
  margin-bottom: 10px;
  background-color: transparent;
  resize: none;
  color: var(--theme);
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--theme-light);
  outline: none;
}

/* Lists */
ul,
ol {
  margin-left: 20px;
}

ul li,
ol li {
  margin-bottom: 5px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--text-dark);
  font-weight: bold;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Utility Classes */

.fw-100{
  font-weight: 100;
}

.fw-200{
  font-weight: 200;
}

.fw-300{
  font-weight: 300;
}

.fw-400{
  font-weight: 400;
}

.fw-500{
  font-weight: 500;
}

.mt-10{
  margin-top: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.mr-10{
  margin-right: 10px;
}

.ml-10{
  margin-left: 10px;
}

.color{
  color: var(--theme);
}

.relative{
  position: relative;
}

.number{
  border: 2px solid var(--theme-dark);
  border-radius: 50%;
  padding: 20px;
  line-height: 0.5;
  background-color: var(--bg);
  color: var(--text-g);
  font-size: 2rem;
  top: -30px;
  left: -30px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.hidden {
  display: none;
}

.active{
  background-color: var(--theme);
  color: var(--bg);
}

.blur {
  background: rgba(255, 255, 255, 0.027);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.144);
}

.absolute{
  position: absolute;
}

hr{
  border: var(--border);
  background: transparent;
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  input,
  textarea,
  select {
    font-size: 14px;
  }

  .number{
    font-size: 1rem;
    top: -20px;
    left: -20px;
  }
}
