.dashboard-container {
  padding: 2rem;
  margin-top: 10vh;
  display: flex;
  gap: 20px;
}
.sidebar-container {
  min-height: 100vh;
  min-width: 100px;
  width: 20%;
  border: var(--border);
  border-radius: var(--radius);
  padding: 10px 15px;
}

.sidebar-container .logo-container {
  text-align: center;
}

.sidebar-container .sidebar-buttons button {
  width: 100%;
  border: var(--border);
}

.sidebar-container .sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* dashboard-body */

.dashboard-body {
  border: var(--border);
  border-radius: var(--radius);
  min-height: 100vh;
  width: 80%;
  padding: 10px 15px;
}

.header-buttons button{
    margin-right: 10px;
    margin-bottom: 10px;
}


/* Categories css */

.categories-container{
  width: 100%;
  height: 100%;
}

.create-category{
  margin-bottom: 20px;
}

.categories-container .all-categories{
  width: 100%;
}

.all-categories .category-header span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.categories-container ul li{
  list-style: none;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

/* Modal css */
/* Add this CSS to your existing CSS file */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: var(--bg);
  padding: 20px;
  border-radius: 5px;
  border: var(--border-t);
  width: 500px;
  max-width: 100%;
}
/* 
.modal-content input,
.modal-content textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

.modal-content button {
  margin-right: 10px;
}

.editable-input{
  min-height: 150px;
}